.app {
  width: 100vw;
  min-height: 100vh;
  border-radius: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}
/* .app .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  border: 3px solid black;
} */
